<!DOCTYPE html>
<title>Bin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%/* tailwind (no need for npm) */%>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<%/* hl.js */%>
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script> -->
<%/* ace */%>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"
	integrity="sha256-kCykSp9wgrszaIBZpbagWbvnsHKXo4noDEi6ra6Y43w="
	crossorigin="anonymous"
></script>