<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <main>
            <div>
                <% if (error || error !== '') { %>
                <p id='error'><%= error %></p>
                <% } %>
            </div>
        </main>
    </body>
</html>