<html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>

        <main>
            <div>
                <pre><code class="language-js"><%- text -%></code></pre>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>

</html>